spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connectionTimeout: 20000
      minimumIdle: 5
      maximumPoolSize: 20
    platform: postgres

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: false

  jackson:
    serialization:
      fail-on-empty-beans: false

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB

  logging:
    level:
      org.springframework: WARN

  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  issuer: "salle-joven"
  access-ttl: 30m
  refresh-ttl: 7d
  cookie-secure: true
  rsa-private-key: classpath:certs/privateKey.pem
  rsa-public-key: classpath:certs/publicKey.pem

salle:
  aws:
    region: eu-north-1
    bucket-name: sallejoven-events
    bucket-url: https://sallejoven-events.s3.eu-north-1.amazonaws.com/
    prefix: ""
  reports:
    fromEmail: sallejovenapp@lasalleandalucia.net
    environment: prod
    queueUrl: https://sqs.eu-north-1.amazonaws.com/659925004462/report-jobs
  image-extensions-allowed: jpg,png,jpeg,webp

app:
  email:
    notifications: true
  reset:
    base-url: "https://starchecksallejoven.com/#/reset-password"